.search {
    text-align: end;
    margin-top: 15px;
}

.search input {
    background-color: #1a2025;
    border: .2px solid black;
    width: 220px;
    height: 40px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

.container {
    padding: 13px;
}

.pageCount {

}

.onePageItem {
    margin-left: 5px;
    margin-top: 10px;
    background-color: #1a2025;
    color: white;
    padding: 3px 15px;
    border-radius: 8px;
    transition: .3s all;
    cursor: pointer;

}

onePageItem:hover {
    padding: 6px 30px;
}

.selectedItem {
    color: #45545c;
    padding: 8px 30px;
}